<link id="css" rel="stylesheet" href="../../css/components/footer.css">
<footer id="footer">
        <a href="index.html"><img id="logoFooter" src="../../img/logos/logoBramcoSustent.png"></a>
        <div id="itensFooter">
            <h6>© Copyright 2023 Thalles F. Rodrigues e Matheus B. de Albuquerque.</h6> 
            <div id="btns-footer" >

                <a href="https://www.instagram.com" target="_blank"><img class="iconesFooter" src="../../img/incons/instagram.svg" alt="instagram"></a>
        
                <a href="https://www.facebook.com" target="_blank"><img class="iconesFooter" src="../../img/incons/facebook.svg" alt="facebook"></svg></a>
                    
                <a href="https://api.whatsapp.com" target="_blank"><img class="iconesFooter" src="../../img/incons/whatsapp.svg" alt="whatsapp"></a>

            </div>
        </div>
    </footer>