#mainCarrinho{
    padding-bottom: 10%;
    padding-top: 3%;
}

#containerCarrinho{
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.11);
    margin-left:5%;
    margin-right: 5%;
    padding: 5%;
    padding-left: 1%;
}

h1{
    padding-left: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.089);
    margin-bottom: 5%;
}

#produto{
    height: 25vh;
    border: 3px solid rgba(0, 0, 0, 0.089);
    display: flex;
    justify-content: space-between;
}

#imagemtxt{
    padding: 2%;
}

#imagemtxt img{
    height: 15vh;
    width: 15vw;
}
#imagemtxt p{
    width: 100%;
    text-align: center;
}

#containerContador {
    display: flex;
    justify-content: center;
    align-items: center;
  }


#containerContador input{
    border: none;
    text-align: center;
    width: 20px;
}

#containerContador button{
    background: none;
    border: none;
    color: green;
}


#containerContador button:hover{
    color: rgb(114, 206, 114);
}

#valor{
    padding-top: 7vh;
    text-align: center;
}

#deleteLixeira{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: green;
}
#deleteLixeira :hover{
    cursor: pointer;
    color: red;
    display: flex;
    justify-items: center;
}

#containerTotalCompra{
    margin-bottom: 10%;
}

#containerButons{
    width: 100%;
    display: flex;
    justify-content: center;
}

#containerButons a{
    margin-left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#containerButons button{
    margin-left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.carrinhoVazio{
    display: flex;
    justify-content: center;
    width: 100%;
}

#buttonVazio{
    margin-left: 0px;
}

@media(max-width: 750px){

    #produto{
        padding-top: 10%;
        width: 100%;
        height: auto;
        display: inline-grid;
        justify-content: center;
    }
    #imagemtxt img{
        height: 15vh;
        width: 40vw;
    }
    #deleteLixeira{
        width: 100%;
        margin-bottom: 20%;
    }
    #containerButons{
        display:inline-grid;
        justify-content: center;
    }

    #containerButons a{
        margin-left: 0%;
        width: 100%;
        margin-bottom: 10%;
    }

    #containerButons button {
        margin-left: 0%;
        width: 100%;
        margin-bottom: 10%;
    }


}
