#mainProduto{
    padding-bottom: 8%;
    padding-top: 3%;
}

#containerProduto{
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.031);
    box-shadow: 20px 16px rgba(0, 0, 0, 0.319);
    margin-left:5% ;
    margin-right: 5%;
    padding: 5%;
    padding-bottom: 20%;
    background-color: white;
}

#container1{
    display: flex;
    justify-content: space-between;
}

#containerProduto h1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}

#containerProduto a{
    width: 30%;
    height: 15%;
    text-decoration: none;
    color: #574A27;
}

#containerProduto a img{
    width: 100%;
    height: 30vh;
    margin-bottom: 5px;
}

#containerProduto a p{
   color: rgba(0, 0, 0, 0.664);
}
 @media (max-width: 750px){
    #mainProduto{
        padding-bottom: 0%;
        padding-top: 3%;
    }

    #containerProduto{
        border-radius: 0px;
        border: 0px;
        box-shadow: 0px;
        margin-left:0% ;
        margin-right: 0%;
    }

    #container1{
        display: block;
    }

    #containerProduto a img{
        margin-left: 10%;
        width: 80%;
        justify-content: none;
    }

    #containerProduto  h5, p {
        margin-left:10% ;
        margin-right: 10%;
    }
 }
