#mainSala{
    padding-bottom: 8%;
    padding-top: 3%;
    height: 80vh;
}

#containerSala{
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.031);
    box-shadow: 20px 16px rgba(0, 0, 0, 0.319);
    margin-left:5% ;
    margin-right: 5%;
    padding: 5%;
    padding-bottom: 20%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}


#containerSala a{
    width: 30%;
    height: 15%;
    text-decoration: none;
    color: #574A27;
}

#containerSala a img{
    width: 100%;
    height: 25vh;
}

#containerSala a p{
   color: rgba(0, 0, 0, 0.664);
}